<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Track My Series</title>
  </head>
  <body>
    <header>
        <div class="navbar-wrapper">
            <h1><a href="/">Track My Series</a></h1>
            <nav class="navbar">
                <ul class="quick-links">
                    <% for (let i = 0; i < watchlistLinks.length; i++) { %>
                        <li>
                            <a href="<%= watchlistLinks[i].href %>"><%= watchlistLinks[i].text %></a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </header>
    <form action="/search" method="get" class="index-search-bar">
        <input class="searchTerm" name="searchTerm" type="text" autocomplete="off" placeholder="Search TV Shows, Movies, and more..."/>
        <button class="btn" type="submit">Search</button>
    </form>
  </body>
</html>
