* {
    text-align: center;
}

/* HEADER */
.navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    border-bottom: 1px solid black;
}

.quick-links {
    list-style: none;
    grid-column: 2;
    display: flex;
    justify-self: center;
    gap: 20px;
}

.quick-links>li {
    border: 1px solid red;
    display: inline-block;
    cursor: pointer;
    color: black;
}

.search-bar {
    justify-self: end;
    grid-column: 3;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

/* STATUS LIST */
.thumbnail {
    width: 4.5em;
    height: 4.5em;
    border-radius: 100%;
}

.full-thumbnail {
    width: 160px;
    height: 270px;
}

.results {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-flow: column wrap;
    width: 80%;
    margin: 0 auto;
}

.results>.card {
    border: 1px solid black;
    display: flex;
    height: 5rem;
    align-items: center;
}

.card>.image-container {
    margin-left: 0.3rem;
}

.card>.text-container {
    /* border: 1px solid red; */
    width: 90%;
    gap: 1em;
    margin-left: 2rem;
}

.text-container>p {
    text-align: left;
}

.card>.text-container-two {
    /* border: 1px solid red; */
    width: 90%;
    gap: 1em;
    margin-left: 2rem;
}

.text-container-two>p {
    text-align: left;
}

.hidden {
    display: none;
}

/* MOBILE */
@media(width <=360px) {
    .navbar {
        display: flex;
        flex-flow: column wrap;
        border-bottom: 1px solid black;
        /* justify-content: center; */
        /* align-items: center; */
    }

    .quick-links {
        list-style: none;
        display: flex;
        justify-self: center;
        gap: 20px;
    }

    .quick-links>li {
        border: 1px solid red;
        display: inline-block;
        cursor: pointer;
        color: black;
    }
}