<header>
    <div class="navbar-wrapper">
        <h1><a href="/">Track My Series</a></h1>
        <nav class="navbar">
            <ul class="quick-links">
                <% for (let i = 0; i < watchlistLinks.length; i++) { %>
                    <li>
                        <a href="<%= watchlistLinks[i].href %>"><%= watchlistLinks[i].text %></a>
                    </li>
                <% } %>
            </ul>
            <form action="/search" method="get" class="search-bar">
                <input class="searchTerm" name="searchTerm" type="text" autocomplete="off" />
                <button class="btn" type="submit">Search</button>
            </form>
        </nav>
    </div>
</header>