<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/watchlist.css" />
    <title>Track My Movies</title>
  </head>
  <body>
    <div class="app">
      <%- include('partials/header', { watchlistLinks: watchlistLinks }) %>
      <h2>On Hold</h2>
      <%- include('partials/titles-list') %>
    </div>
  </body>
</html>
